h2{
    color:white
}
nav{
    background-color:#013C6A;
}
#form_container{
  background-color:#013C6A;
  margin-top:150px;
  border-style: groove;
  border:1px solid black;
}
footer{
  height: 50px; 
  width:100%; 
  position:absolute; 
  bottom:0; 
  left:0;
  background-color: #4D6E9B;
}
form{
  margin-top:50px;
}
body{
  background-image: url(../img/fondo.png)
}
.form-group{
  margin-bottom: 10px;
}
label{
  color:white;
}