body{
  background-image: url(../img/fondo.png);
  position: relative;
  padding-bottom:4em;
  min-height: 100vh;
}
h2,p{
    color:white
}
nav{
    background-color:#013C6A;
}
#form_container{
  background-color:#013C6A;
  margin-top:150px;
  border-style: groove;
  border:1px solid black;
}
footer{
  width:100%; 
  position:absolute; 
  bottom:0;
  background-color: #4D6E9B;
 
}
form{
  margin-top:50px;
}
.form-group{
  margin-bottom: 10px;
}
.form-inline{
 margin-top:10px
}

label{
  color:white;
}
div.prueba{
  border: solid #013C6A 1px; 
  -moz-border-radius: 20px; 
  -webkit-border-radius: 20px; 
  border-radius: 20px; 
  background-color: #4D6E9B;
  margin-top:50px;
  width: 600px;
  height: auto;
}
div.prueba1{
  border: solid #013C6A 1px; 
  -moz-border-radius: 20px; 
  -webkit-border-radius: 20px; 
  border-radius: 20px;
  height: auto;
  background-color: #013C6A;
  width: 400px;
  margin-top:20px;
  margin-bottom: 20px;
}
#inci{
  margin-top:10px;
}
table{
  width:100%;
  border:1px solid #013C6A;  
}
td,th{
  background-color: #4D6E9B;
  border:1px solid #013C6A;
  color:white;
  text-align: center;  
  }